:root {
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: var(--Violet);
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 2rem;
}

.huddle-logo img {
    width: 45%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.main-image img{
    width: 100%;
    
}

.heading-title {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 4rem;
    letter-spacing: 0.1rem;
}

.heading-description {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: gainsboro;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.register-button {
    width: 65%;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    padding: 0.6rem 2rem;
    border-radius: 2rem;
    margin-top: 2rem;
    box-shadow:  1px 2px 3px #343436;
}
.register-button p {
    color: var(--Violet);
    font-size: 0.8rem;
    
}
.register-button:hover  {
    background-color: var(--Soft-Magenta);
    cursor: pointer;
    
}

.register-button:hover p {
    color: white;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem auto;
    
}

.icon-facebook,
.icon-twitter,
.icon-instagram {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: solid 0.05rem white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    margin: 0.5rem;
    font-size: 0.7rem;
}

.icon-facebook:hover,
.icon-twitter:hover,
.icon-instagram:hover {
    border: solid 0.05rem var(--Soft-Magenta);
    color: var(--Soft-Magenta);
    cursor: pointer;
}

@media screen and (min-width:48rem){

    body {
        background-image: url(../images/bg-desktop.svg);
    }

    .container {
        display: block;
        margin: 1rem 4rem;
    }

    .huddle-logo img {
        width: 15rem;
        
    }

    main {
        display: flex;
        flex-wrap: nowrap;
        
    }

    .main-image {
        flex-basis: 51%;
    }

    .main-image img{
        width: 100%;   
    }

    .huddle-text {
        display: block;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-basis: 42%;
        margin-left: 3rem;
    }

    .heading-title {
        text-align: left;
        font-size: 2rem;
        width: 70%;
    }

    .heading-description {
        text-align: left;
        font-size: 1rem;
        margin: 1.5rem 0;
        width: 85%;
    }

    .social-icons {
        display: flex;
        justify-content: flex-end;
        margin-top: 2rem;
        margin-right: 9rem;

    }
    
    .register-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        padding: 0.9rem 0.2rem;
        box-shadow:  3px 6px 9px #343436;
        margin: 0;
    }

    .register-button p {
        font-size: 0.9rem;
        
    }

    .icon-facebook,
    .icon-twitter,
    .icon-instagram {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        border: solid 0.05rem white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.8rem;
        margin: 0.5rem;
        font-size: 1.2rem;
    }
    
}

.attribution a:nth-child(1) {
    color: white;
}

.attribution a:nth-child(2) {
    color: white;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}